{% extends 'base.html.twig' %}

{% block title %}S'enregistrer !{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>





<div class="example-wrapper">

    <!-- Section: Design Block -->
    <section class="text-center text-lg-start">
        <style>
            .cascading-right {
            margin-right: -50px;
            }

            @media (max-width: 991.98px) {
            .cascading-right {
                margin-right: 0;
            }
            }
        </style>

        <!-- Jumbotron -->
        <div class="container py-4">
            <div class="row g-0 align-items-center">
            <div class="col-lg-6 mb-5 mb-lg-0">
                <div class="card cascading-right" style="
                    background: hsla(0, 0%, 100%, 0.55);
                    backdrop-filter: blur(30px);
                    ">
                    <div class="card-body p-5 shadow-5 text-center">
                        <h2 class="fw-bold mb-5">S'enregistrer !</h2>
                        <!-- Formulaire -->
                        {{ form_start(registrationForm) }}
                            <!-- Email -->
                            <div class="form-group">
                                {{ form_row(registrationForm.email, {'attr': {'class': 'form-control'}}) }}
                            </div>

                            <div class="form-group">
                                {{ form_row(registrationForm.username, {'attr': {'class': 'form-control'}}) }}
                            </div>

                            <div class="form-group">
                                {{ form_row(registrationForm.motDePasse, {'attr': {'class': 'form-control'}}) }}
                            </div>


                            <div class="form-group">
                                <button type="submit" class="form-control btn btn-primary submit px-3" style="color: #fff !important;">S'enregistrer</button>
                            </div>
                            
                            
                        {{ form_end(registrationForm) }}
                    </div>
                </div>
            </div>

            <div class="col-lg-6 mb-5 mb-lg-0">
                <img src="{{ asset('img/test.jpg') }}" class="w-100 rounded-4 shadow-4" alt="todo list" />
            </div>

            </div>
        </div>
        <!-- Jumbotron -->
    </section>
    <!-- Section: Design Block -->
</div>


{% endblock %}
