{% extends 'base.html.twig' %}

{% block title %}Liste des taches !{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>






<div class="example-wrapper">
 
    <!-- Boutton Création d'une nouvelle Tache -->
    <a href="{{ path('app_task_create') }}" class="btn btn-info pull-right">Créer une tâche</a>


    <div class="row mt-5">
       
        {% for task in tasks %}

            <div class="col-sm-6 col-lg-6 col-md-6">
                <div class="card mt-2 mb-2" style="box-shadow:6px 6px 8px lightgray;">
                    <img src="{{ asset('img/todolist_homepage.jpg') }}" class="card-img-top" alt="Fissure in Sandstone"/>
                
                    <div class="card-body">
                        <h5 class="card-title"><a href="{{ path('app_task_edit', {'slug' : task.slug }) }}">{{ task.title }}</a></h5>
                        <p class="card-text">{{ task.content }}</p>


                        <!-- Formulaire pour le marquague comme fait ou non-->
                        <form action="{{ path('app_task_toggle', {'id' : task.id }) }}">
                            <button class="btn btn-success btn-sm pull-right">
                                {% if not task.isDone %}Marquer comme faite{% else %}Marquer non terminée{% endif %}
                            </button>
                        </form>


                        <!-- Formulaire pour la suprression -->
                        <!-- Bouton supprimer uniquement si username du user connecté == username du user rattaché a la tache -->
                        <!-- Bouton supprimer uniquement si user connecté == ROLE ADMIN et que user rataché a la tache == null -->
                        {% if (is_granted('ROLE_ADMIN') and task.user == null) or (task.user != null and app.user.username == task.user.username) %}
                            <form action="{{ path('app_task_delete', {'id' : task.id }) }}">
                                <button class="btn btn-danger btn-sm pull-right">Supprimer</button>
                            </form>
                        {% endif %}
                    </div>
                </div>
            </div>
                
        {% else %}
            <div class="alert alert-warning" role="alert">
                Il n'y a pas encore de tâche enregistrée. <a href="{{ path('app_task_create') }}" class="btn btn-warning pull-right">Créer une tâche</a>
            </div>
        {% endfor %}

    </div>

</div>
{% endblock %}
